<p id="notice"><%= notice %></p>
<%= image_tag @cp_constructor_image.img.url %>
<br>
<%= link_to 'Ред.', edit_cp_constructor_image_path(@cp_constructor_image) %> |
<%= link_to 'Назад', cp_constructor_images_path %>
